<!--
<button class="btn btn-primary">Generate Array!</button>
<button class="btn btn-success">Bubble Sort!</button>
<button class="btn btn-success">Selection Sort!</button>
<button class="btn btn-success">Insertion Sort!</button>
<button class="btn btn-success">Shell Sort!</button>
<button class="btn btn-success">Merge Sort!</button>
-->

<mat-toolbar color="primary" role="heading">
    <span>Sorting Visualizer! </span>
    <button mat-raised-button style="margin:20px;" color="accent">Generate Array!</button>
</mat-toolbar>